.text-input{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;

    height: 3em;
    width: 10em;
    padding: 0.2em;
    margin-bottom: 1em;
    
    cursor: text;
    font-size: 2em;
    border: 1px solid rgb(15, 14, 14);
}

.cursor::after{
    position: relative;
    top:-0.1em;
    content: "|";
}

